.grid {
    display: grid;
    width: 660px;
    height: 660px;
    grid-row-gap: 1px;
    grid-column-gap: 1px;
    justify-items: stretch;
    align-items: stretch;
}

.square {
    background-color: #000;
}

.hover {
    background-color: #fff;
}